include DESCRIPTION.rst
include README.md
include informer/static/django_informer/package.json

recursive-include informer/templates *
recursive-include informer/static/django_informer/app *
recursive-include informer/static/django_informer/assets *
recursive-include informer/static/django_informer/node_modules/angular *
recursive-include informer/static/django_informer/node_modules/angular-animate *
recursive-include informer/static/django_informer/node_modules/angular-aria *
recursive-include informer/static/django_informer/node_modules/angular-material *
recursive-include informer/static/django_informer/node_modules/angular-resource *
recursive-include informer/static/django_informer/node_modules/angular-route *
