include DESCRIPTION.rst
include README.rst
include LICENSE

recursive-include informer/checker *
recursive-include informer/management *
recursive-include informer/templates *
recursive-include informer/migrations *

include informer/static/django_informer/package.json
recursive-include informer/static/django_informer/app *
recursive-include informer/static/django_informer/assets *

recursive-include informer/static/django_informer/node_modules/angular *.min.js *.min.js.map
recursive-include informer/static/django_informer/node_modules/angular-animate *.min.js *.min.js.map
recursive-include informer/static/django_informer/node_modules/angular-aria *.min.js *.min.js.map
recursive-include informer/static/django_informer/node_modules/angular-resource *.min.js *.min.js.map
recursive-include informer/static/django_informer/node_modules/angular-route *.min.js *.min.js.map
recursive-include informer/static/django_informer/node_modules/angular-messages *.min.js *.min.js.map

include informer/static/django_informer/node_modules/angular-material/angular-material.min.js
include informer/static/django_informer/node_modules/angular-material/angular-material.min.css
include informer/static/django_informer/node_modules/angular-material/angular-material.layouts.min.css

global-exclude __pycache__
global-exclude *.py[co]
