<!-- h2 data-ng-cloak>{{ message }}</h2 -->

<md-content layout-padding data-ng-if="informers.length < 1">
    <p>No <em>Informer</em> was set.</p>
</md-content>

<div layout="row"
     layout-align="start center"
     layout-wrap>

    <md-card flex="30" data-ng-repeat="informer in informers">
        <md-card-content>
            <h2>
                {{ informer.name | name }}
                <small ng-switch="informer.operational">
                    <md-icon style="color: green" data-ng-switch-when="true" md-svg-icon="/static/django_informer/assets/images/ic_keyboard_arrow_up_48px.svg"></md-icon>
                    <md-icon style="color: red" data-ng-switch-when="false" md-svg-icon="/static/django_informer/assets/images/ic_keyboard_arrow_down_48px.svg"></md-icon>
                    <md-icon data-ng-switch-default md-svg-icon="/static/django_informer/assets/images/ic_clear_48px.svg"></md-icon>
                </small>
            </h2>
            <p>
                {{ informer.message | limitTo : 40}}
                {{ informer.message.length > 40 ? '...' : '' }}
            </p>
        </md-card-content>

        <md-card-footer>
            <!--
            <md-icon md-svg-icon="/static/django_informer/assets/images/ic_trending_up_48px.svg"></md-icon>
            <md-icon md-svg-icon="/static/django_informer/assets/images/ic_equalizer_48px.svg"></md-icon>
            -->
            <a href="#/detail/{{informer.name | name}}">
                <md-icon md-svg-icon="/static/django_informer/assets/images/ic_launch_48px.svg"></md-icon>
            </a>
        </md-card-footer>
    </md-card>
</div>
