<!DOCTYPE html>
<html lang="en" data-ng-app="InformerApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="a pluggable app to monitoring third party services.">
        <meta name="keywords" content="Python, Django, Web Development, Monitoring">
        <meta name="author" content="Rodrigo Braga">

        <link rel="stylesheet" type="text/css" href="/static/django_informer/node_modules/angular-material/angular-material.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" />

        <link rel="shortcut icon" href="/static/django_informer/assets/images/favicon.ico" />

        <title>Informer &middot; a pluggable app to monitoring your own infrastructure and third party services.</title>
    </head>
    <body data-ng-cloak>

        <div layout="column" layout-fill>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button href="#/dashboard" aria-label="Informer">
                        <md-icon md-svg-icon="/static/django_informer/assets/images/ic_message_48px.svg"></md-icon>
                    </md-button>
                    <span>Informer</span>
                    <span flex></span>
                    <md-button href="https://github.com/rodrigobraga/informer" aria-label="Github">
                        <md-icon md-svg-icon="/static/django_informer/assets/images/github-icon.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding>
                {% block content %}{% endblock %}
            </md-content>
        </div>

        <!-- Angular JS -->
        <script src="/static/django_informer/node_modules/angular/angular.min.js"></script>
        <script src="/static/django_informer/node_modules/angular-resource/angular-resource.min.js"></script>
        <script src="/static/django_informer/node_modules/angular-route/angular-route.min.js"></script>
        <script src="/static/django_informer/node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="/static/django_informer/node_modules/angular-aria/angular-aria.min.js"></script>

        <!-- Material -->
        <script src="/static/django_informer/node_modules/angular-material/angular-material.min.js"></script>

        <!-- Informer -->
        <script src="/static/django_informer/app/app.js"></script>
        <script src="/static/django_informer/app/home/controller.js"></script>
        <script src="/static/django_informer/app/checker/controller.js"></script>
        <script src="/static/django_informer/app/checker/service.js"></script>

        <script>
            (function () {
                'use strict';

                var app = angular.module('InformerApp');

                app.constant('CONFIGURATION', {
                    'URL': '{{ URL }}'
                });
            })();
        </script>
    </body>
</html>
